<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./user.js"></script>
  </head>
  <body>
    <div id="app">
      <table>
        <tr v-for="user in users">
          <td>{{ user.firstName }}</td>
          <td>{{ user.patronymic }}</td>
          <td>{{ user.lastName }}</td>
          <td>
            <img v-if="user.avatar" height="40" v-bind:src="user.avatar" />
            <p v-else>
              :-)
            </p>
          </td>
        </tr>
      </table>
    </div>
    <script>
      var app = new Vue({
        el: '#app',
        data: function() {
          return {
            message: 'Hello Vue?!?',
            users: User.getUsersSync(),
          };
        },
      });
    </script>
  </body>
</html>
