<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./user.js"></script>
    <style>
      [v-cloak] {
        display: none;
      }
      table {
        border-collapse: collapse;
      }
      td {
        padding: 0.5rem 1rem;
      }
      tr:nth-child(n + 2) td {
        border-top: 3px solid #eee;
      }
    </style>
  </head>
  <body>
    <div id="app" v-cloak>
      <h3>Всего {{ users.length }} пользователей</h3>
      <div class="controls">
        <button type="button" v-on:click="toggleShowUsers">{{ toggleShowUsersLabel }}</button>
      </div>
      <table v-if="userListShown">
        <tr v-for="user in users" v-bind:key="user.id">
          <td>{{ user.firstName }}</td>
          <td>{{ user.patronymic }}</td>
          <td>{{ user.lastName | uppercase }}</td>
          <td>
            <img v-if="user.avatar" height="40" v-bind:src="user.avatar" />
            <p v-else>
              :-)
            </p>
          </td>
          <td><button type="button" v-copy="user.id">Copy</button></td>
        </tr>
      </table>
    </div>
    <script>
      var app = new Vue({
        el: '#app',
        computed: {
          toggleShowUsersLabel: function() {
            return this.userListShown ? 'Скрыть пользователей' : 'Показать пользователей';
          },
        },
        data: function() {
          return {
            message: 'Hello Vue?!?',
            users: User.getUsersSync(),
            userListShown: true,
          };
        },
        directives: {
          copy: {
            inserted: function(el, binding) {
              if (navigator.clipboard && navigator.clipboard.writeText) {
                el.onclick = function() {
                  var user = User.getById(binding.value);

                  navigator.clipboard
                    .writeText(user.fullName)
                    .then(function() {
                      //
                    })
                    .catch(function(err) {
                      console.error(err);
                    });
                };
              } else {
                el.style.display = 'none';
              }
            },
          },
        },
        filters: {
          uppercase: function(val) {
            return `${val}`.toUpperCase();
          },
        },
        methods: {
          toggleShowUsers: function() {
            this.userListShown = !this.userListShown;
          },
        },
      });
    </script>
  </body>
</html>
